<p id="header">
<a id="logo" href="/"><img src="/img/logo.png" alt="Neshwork"/></a>

<% if (logged_in == true) { %>
<span class="topright">
    <a href="/people/<%= name %>"><img src="/img/profile.png" alt="Profile"/></a>
    <a href="/logout"><img src="/img/logout.png" alt="Logout"/></a>
  </span>
 <% } else { %>
 <span class="topright">
    <a href="login"><img src="/img/login.png" alt="Log In"/></a>
    <a href="register"><img src="/img/signup.png" alt="Sign Up"/></a>
  </span>
<% } %>
</p>
<hr>