<!DOCTYPE html>
<html>
<head>

<% include partials/head.ejs %>

</head>
<body>

<% include partials/topbar.ejs %>

<span id="posthead">Say something:</span><br/>
<form id="postform" action="includes/send_msg.php" method="post">
  <textarea name="msg" rows="5" cols="40"></textarea><br/>
  <button type="submit">Post</button>
</form>

<div id="msgs"></div>